__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
/custom_nodes/
!custom_nodes/example_node.py.example
extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
openapi.yaml
filtered-openapi.yaml
uv.lock
# Whitelist TAESD VAE approximations used for optional high-quality previews
# These files are only required if preview mode is set to "TAESD" in ComfyUI settings
!/models/vae_approx/
!/models/vae_approx/taef1_decoder.safetensors
!/models/vae_approx/taef1_encoder.safetensors
!/models/vae_approx/taesd3_decoder.safetensors
!/models/vae_approx/taesd3_encoder.safetensors
!/models/vae_approx/taesdxl_decoder.safetensors
!/models/vae_approx/taesdxl_encoder.safetensors
!/models/vae_approx/taesd_decoder.safetensors
!/models/vae_approx/taesd_encoder.safetensors